.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-weight: bold;
  color: black;
  width: 50%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .App-header {
      width: 80%;
  }
}