.nav-bar {
    min-width: 10vw;
    min-height: 50px;
    padding-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
}

.nav-bar-arrow {
    padding-left: 1%;
}